body {
  background: #1a1a1a;
  margin: 0;
  font-family: "Libre Baskerville", sans-serif;
  color: #fefefe;
  padding-bottom: 1em;
}

#container {
  width: 100vw;
  height: 100vh;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: #fefefe;
  text-decoration: none;
}

.marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marquee .intelitext {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 2em;
  margin: auto;
  text-align: center;
}

.nav {
  width: 100%;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .logo {
  display: block;
}

.nav .logo .main-logo-text {
  margin: auto;
  font-size: 2.1em;
  white-space: nowrap;
  text-transform: uppercase;
}

.nav .logo .main-logo-text img {
  position: absolute;
  height: 1.1em;
  margin: 0 0px 0 -4px;
}

.nav .logo .main-logo-subtitle {
  font-size: 1rem;
  text-align: left;
}

.nav .social-media-div {
  margin: auto 0;
  height: 50%;
}

.nav .social-media-div a {
  margin: auto 0;
}

.nav .social-media-div .fa-icon {
  padding: 0 2px;
  font-size: 1.5em;
  margin: auto 0;
}

.nav .nav-menu-text {
  font-size: 1.5em;
  margin: auto 10px;
  text-transform: uppercase;
}

.nav .coming-soon {
  color: #8e8e8e;
}

.nav .coming-soon:active {
  color: #8e8e8e;
}

.nav .coming-soon:active::before {
  -webkit-transition: all 2s;
  transition: all 2s;
  content: "coming soon!";
  position: absolute;
  top: 20px;
  margin-left: -50px;
  color: white;
}

.main {
  margin: 0 12%;
}

.main .main-paragraph {
  line-height: 3em;
  margin: 30px 0;
}

.main .main-pic {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.main .main-pic img {
  height: 500px;
}

.main .linky {
  padding: 10px;
  position: relative;
  color: #fefefe;
  font-size: 1.1em;
  font-weight: bold;
}

.main .linky::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5px;
  right: 1px;
  background-color: #1a1a1a;
  z-index: -1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main .linky:hover {
  color: #1a1a1a;
  cursor: default;
}

.main .linky:hover::before {
  -webkit-transform: translate(2px, -4px) rotate(-3deg);
          transform: translate(2px, -4px) rotate(-3deg);
  background-color: red;
}

.footer {
  margin: 0 12%;
}

.footer .pedro-pointer {
  border-bottom: 3px solid red;
}

.footer .pedro-pointer:hover {
  cursor: url("../images/pedro_pointer.png"), auto;
}

.footer .ben-pointer {
  border-bottom: 3px solid red;
}

.footer .ben-pointer:hover {
  cursor: url("../images/ben_bw_pointer.png"), auto;
}

.footer .dianaeli {
  margin: 40px auto;
  color: #a3a3a3;
  text-align: center;
  font-size: 0.8em;
}

.footer .dianaeli a {
  color: #a3a3a3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  border-radius: 50%;
}

.footer .dianaeli a:hover {
  background: #00b2ca;
  color: #f3f3f3;
}

.floaty {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 2.5em;
}

.rcg-text {
  margin: 2em auto;
  display: block;
  font-size: 2em;
}

.episode {
  margin: 20px 0;
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.episode .episode-image {
  margin: auto;
}

.episode .episode-image img {
  height: 200px;
}

.episode .episode-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 0.5em;
  margin-left: 1em;
}

.episode .episode-body .episode-title {
  font-weight: bolder;
  font-size: 1.5em;
  width: 90%;
}

.episode .episode-body .episode-season-info {
  margin: 5px 10px;
}

.episode .episode-body .episode-guest {
  margin: 5px 10px;
}

.episode .episode-body .episode-additional-info {
  color: #999;
  margin: 5px 10px;
  font-size: 0.8em;
}

.episode .episode-body iframe {
  margin-top: 10px;
  width: 98%;
}

.episode .episode-social-media {
  position: relative;
  right: 0px;
  bottom: 0px;
  height: 1em;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.episode .episode-social-media .fa-icon {
  padding: 0 3px;
}

@media only screen and (max-width: 1276px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 12rem;
  }
  .nav .nav-col {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0.5rem auto;
  }
  .nav .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .nav .site-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (max-width: 1080px) {
  .nav .main-logo-text {
    font-size: 1.2em;
    white-space: pre-wrap;
  }
  .nav .nav-menu-text {
    font-size: 1em;
  }
  .nav .social-media-div .fa-icon {
    font-size: 1em;
  }
  .main .main-pic img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 780px) {
  .nav .nav-col {
    width: 80%;
  }
  .nav .logo .main-logo-text {
    font-size: 1.3rem;
  }
  .nav .logo .main-logo-text img {
    height: 1.3rem;
  }
  .nav .logo .main-logo-subtitle {
    font-size: 0.6rem;
  }
  .episode .episode-body {
    font-size: 0.7em;
  }
  .episode .episode-body .episode-title {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 400px) {
  .nav .logo .main-logo-text {
    white-space: normal;
  }
  .nav .social-media-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .episode {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .episode .episode-body {
    margin: 0;
    width: 100%;
  }
  .episode .episode-body .episode-title {
    margin: auto;
    text-align: center;
  }
  .episode .episode-body .iframe {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */